<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="Version" value="1.0.0.1"/>
	</appSettings>
		
<!--配置连接字符串-->	
	
	<connectionStrings>
  <add name="connectionStrings" connectionString="Server=.\sql2019;Database=phpdb2;Integrated Security=True;" />
  <add name="sqlUserDemo.Properties.Settings.phpdb2ConnectionString"
   connectionString="Data Source=.\sql2019;Initial Catalog=phpdb2;Persist Security Info=True;User ID=sa;Password=domino123;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>